#map {
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
    margin-top: -150px;
    width: 100%;

}
#buscar {
    display: grid;
    margin-top: 10px;
}

html,body {
    height: 114%;
    margin: 0;
    padding: 0;
}
  